.about{
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-content{
  width: 850px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about-content-img{
    width: 400px;
}
.about-content-details{
    width: 400px;
    padding: 25px;
}
.ab-img{
  width: 400px;
  border-top-left-radius: 20px;
}
.text01{
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.text01-line{
  color: rgb(20, 132, 224);
}
.text02{
  font-size: 2rem;
  line-height: 0.8;
  margin-bottom: 10px;
}
.text03{
  font-size: 1rem;
  margin-bottom: 10px;
}
.text-btn{
  padding: 4px 16px;
  font-size: 0.8rem;
  background-color: rgb(20, 132, 224);
  color: white;
  border: none;
  border-radius: 4px;
}